{% extends 'base/base.html' %}

{% block breadcrumbs %}
{{ block.super }} <li id="bc-apps"><a href="{% url apps %}">Apps</a></li>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h1>Download Our Apps</h1>
			<p>Using these applications, you can take our fantastic wealth of information everywhere you go.</p>
			<ul>
				<li><a href="{% url apps_android %}">Android</a></li>
				<li><a href="{% url apps_java %}">Java</a></li>
			</ul>
		</div>
	</div>
{% endblock %}