{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends 'base/apps.html' %}

{% block breadcrumbs %}
{{ block.super }} <li id="bc-apps"><a href="{% url apps_java %}">Java</a></li>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<h1>Download Our Java Application</h1>
				<div class="two-thirds alpha">
				
					<h3 class="inline">Cross Platorm</h3>
					<p>No matter what your operating system, this will work for you.</p>
					
					<h3 class="inline">Local Power</h3>
					<p>Take advantage of the power your desktop or laptop computer holds, with advanced search.</p>
					
					<h3 class="inline">Download</h3>
					<p>First you must <a href="http://www.java.com/en/download/">install the Java virtual machine</a> and then you may download the desktop client below.</p>
					
					<a id="java-download" href="/media/apps/java/autolib.zip">Click Here To Download</a>
					<p></p>
				</div>
				<div class="third">
					<img id="java-icon" src="/media/images/java-icon-256.png" width="256" height="256" alt="The Java cup logo" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}