{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends 'base/apps.html' %}

{% block breadcrumbs %}
{{ block.super }} <li id="bc-apps"><a href="{% url apps_android %}">Android</a></li>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h1>Download The Android App</h1>
			<div class="container clearfix">
				<div class="two-thirds alpha">
					<p>If you have your android phone handy, just scan this crazy image below in order to install the application, or if you are viewing this from within your phone you may <a href="/media/apps/android/autolib.apk">download it directly</a></p>
					<img id="android-qr" src="http://qrcode.kaywa.com/img.php?s=8&d=http%3A%2F%2Fautolib.michalkonturek.com%2Fmedia%2Fapps%2Fandroid%2Fautolib.apk" alt="qrcode"  />
					<p></p>
				</div>
				<div class="third omega">
					<img id="android-logo" src="/media/images/android-icon-256.png" width="256" height="256" alt="The Android logo" />
					<h3>About the App</h3>
					<p>The Andoird application allows you to add books to your library instantly by scanning their barcodes.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}