{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends "base/base.html" %}

{% block title %}
Welcome | {{ block.super }}
{% endblock %}

{% block content %}

<div class="section">
	<div class="inner">
		<h2>Hey {{ user.first_name|default:user.username }}, You're Authenticated</h2>
		<p>This is the home page, but you should probably check out this kind of control panel thing at <a href="{% url profile %}">{% url profile %}</a>.</p>
	</div>
</div>

<div class="section">
	<div class="inner">
		<dl>
			<dt>Other places</dt>
			<dd>Check out other users of the system over at <a href="{% url users.views.user_list %}">{% url users.views.user_list %}</a></dd>
			<dd>Here is a list of all the books in the system: <a href="{% url book_list %}">{% url book_list %}</a></dd>
		</dl>
	</div>
</div>
{% endblock %}