/*
 * Developed for the University of Nottingham G52GRP module
 *
 * Written by:	Marcus Whybrow (mxw18u)
 * Group: 		gp09-drm
 *
 */

html                { background: url(/media/images/page-bg.png) repeat-x; background-color: #fff; }

body                { font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
                      font-size: 13px; color: #5e5d5d; background: url(/media/images/header-bg.png) no-repeat top center; }
                      
strong, em, b, i    { font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }

p, dd  { line-height: 1.5em; }

#content li			{ line-height: 21px; }

p, h1, h2, h3, 
ul, dl, ol, dt, dd,
#content li	        {  }

h1, h2				{ margin-bottom: 20px; }

#help-box h3		{ margin-top: 10px; margin-bottom: 5px; }

p.error             { padding: 5px; margin-bottom: 20px; background-color: rgba(0,0,0,0.1); -moz-border-radius: 3px; -webkit-border-radius: 3px; text-align: center; }

/* Titles */

h1, h2, h3, dt      { color: #2e2e2e; width: 100%; font-family: Helvetica, Arial, sans-serif ; }
h1                  { font-size: 32px; }
h2                  { font-size: 30px; }
h3, dt              { font-size: 16px; }

dd                  { margin-left: 9px; }

h3					{ padding-bottom: 0; }
h3.inline			{ padding-top: 9px; }

/* Editable Stuff */

.editable .detail form.editing								{ padding: 0; margin: 0; border: 0; position: relative; }
.editable .detail form.editing input						{ padding: 5px 5px; margin: 0; border: 1px solid #333; background-color: #555; color: #fafafa; -moz-border-radius: 3px; -webkit-border-radius: 3px;
										 					  text-shadow: 1px 1px 1px #333; padding-right: 145px; }

.editable .detail form.editing button						{ position: absolute; background-color: #666; border: 1px solid #444; -moz-border-radius: 3px; 
															  text-transform: uppercase; font-weight: bold; color: #fafafa; cursor: pointer; }

.editable .detail form.editing button:hover					{ background-color: #888; }

.editable .detail form.editing button[type="submit"]		{ top: 7px; right: 7px; }
.editable .detail form.editing button[type="cancel"]		{ top: 7px; right: 70px; }

.editable .h2-detail form.editing button					{ padding: 5px 10px; }
.editable .p-detail form.editing button						{ padding: 1px 10px; }

.editable .h2-detail form.editing input						{ /* color: #2e2e2e; */ font-family: Helvetica, Arial, sans-serif ; font-size: 30px; font-weight: bold; }
.editable .p-detail form.editing input						{ /* color: #5E5D5D; */ font-size: 13px; /* line-height: 21px */; }


.editable .detail											{ cursor: pointer; }


/* Forms */

form fieldset                                               { border: 1px solid #ddd; padding: 18px 18px 0 18px; }
form fieldset input                                         { float: left; clear: left; margin-right: 18px; margin-bottom: 18px; }
form fieldset label                                         { float: left; clear: right; margin-top: 2px; color: #888; }
form                                                        { padding-bottom: 18px; }

form.jqtransform div.rowElem label,
form.jqtransform div.rowElem div.jqTransformInputWrapper    { clear: both; !important }
form.jqtransform div.rowElem label                          { padding-bottom: 5px; }

/* Structure */

#page-wrap              {  }

div.section             { width: 100%; margin-top: 18px; float: left; border-bottom: #eee 1px solid; }
div.section.last        { margin-bottom: 18px; }
div.section div.inner   { padding: 0 18px 18px; }

div.banner              { width: 100%; }

div.stage               { width: 292px; float: left; font-family: Helvetica, Arial, sans-serif ; padding: 10px; background-color: #fafafa; 
                          border-bottom: 1px solid #dfdfdf; }
div.stage span          { font-size: 60px; float: left; }
div.stage p             { font-size: 18px; float: left; margin-top: 10px; }
div.stage.one           { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; }
div.stage.two           { background-color: #f5f5f5; }
div.stage.three         { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; background-color: #f0f0f0; }
div.stage.active        { background-color:#4488e4; color: #0f218a; }reset.css
div.stage.active p      { color: #1858b7; }

/* Un-Ordered List */

ul                                      			    	{ padding-left: 18px; }
ul#users                                			    	{ font-size: 18px; text-transform: capitalize; }
ul#users li                             			    	{ padding-bottom: 9px;}
ul#users ul#libraries li                					{ font-weight: bold; }
ul#users ul#libraries ul#books,
ul#books                                			    	{ border-left: 1px solid #ddd; margin-left: 9px; padding-left: 9px; margin-bottom: 18px; }
ul#users ul#libraries ul#books li,
ul#books li                             			    	{ font-weight: normal; color: #666; padding-bottom: 3px; font-style: italic; font-size: 11px; }
ul#libraries                            			    	{ font-size: 13px; }

/* Library List */


div.new-item-form form										{ padding: 0; width: 300px; margin: 0 auto; }
div.new-item-form form input#id_name,
div.new-item-form form input#id_isbn						{ float: left; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #ddd; padding: 5px 7px; width: 215px; }
div.new-item-form form input[type="submit"]					{ float: right; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #eee; border: 1px solid #ddd; padding: 5px 7px; height: 28px;
															  cursor: pointer; color: #5e5e5e; text-transform: uppercase; font-weight: bold; }


#content .rounded-wrapper									{ -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #cdccd2; padding: 10px; margin-bottom: 20px; }
#content .rounded-wrapper h3								{ padding-bottom: 7px; text-align: center; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); padding-top: 10px; }
#content .rounded-wrapper h3:first-child					{ padding-top: 0; }

.inner-wrapper												{ margin: 10px auto; width: 421px; }

/* Image Wrapper */


#content ul.item-list,
#content table,
#content .rounded-wrapper .image-wrapper,
#content .rounded-wrapper form								{ padding: 0; background-color: #b0b1b8; -moz-border-radius: 6px; -webkit-border-radius: 6px; width: 100%; 
															  border-top: 1px solid #88898D; border-right: 1px solid #A2A3A9; border-left: 1px solid #A2A3A9; border-bottom: 1px solid #A2A3A9; }

#content .rounded-wrapper .image-wrapper					{ }
#content .rounded-wrapper .image-wrapper img				{ padding: 10px; margin: 0 auto; display: block; }

#content .rounded-wrapper form								{ position: relative; height: 50px; }
#content .rounded-wrapper form input[type="text"]			{ position: absolute; height: 48px; padding-left: 15px; width: 485px; background-color: transparent; border: 0;
															  background: none; color: #111; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
															  
#content table												{ border-collapse: inherit; }

#content table tr td										{ padding: 10px 15px; color: #111; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); width: 50%; }

#content ul.item-list li,
#content table tr+tr td										{ padding: 10px 15px; border: none; border-top: 1px solid #898B93; overflow: hidden; }

#content ul.item-list li:first-child,
#content table tbody tr:first-child							{ border-top: none; }

#content table tr td+td										{ border-left: 1px solid #898B93; }


#content table tr td img									{ float: left; }
#content table tr td span									{ float: left; padding: 1px 0 0 7px; }

#content ul.item-list li									{ text-align: right; position: relative; }

#content ul.item-list li button,
#content .rounded-wrapper form input[type="submit"]			{ margin-left: 5px; cursor: pointer; color: #888; background-color: transparent; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); 
															  -moz-border-radius: 3px; -webkit-border-radius: 3px; text-transform: uppercase; font-weight: bold; border: 1px solid transparent; }

#content .rounded-wrapper form input[type="submit"]			{ position: absolute; top: 6px; right: 6px; bottom: 6px; width: 70px; }

#content ul.item-list li button.confirm,
#content ul.item-list li button.delete			    		{ display: none; z-index: 200; position: absolute; top: 6px; right: 6px; bottom: 6px; width: 70px; }

#content ul.item-list li button.confirm:hover,
#content ul.item-list li button.delete:hover,
#content .rounded-wrapper form input[type="submit"]			{ border: 1px solid; border-top-color: #88898D; border-left-color: #A2A3A9; border-right-color: #A2A3A9; border-bottom-color: #DDDDE0;
															  background-color: #a7a8af; color: #333; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); }

#content ul.item-list li button.cancel,
#content ul.item-list li button.really			    		{ display: none; z-index: 100; position: absolute; top: 6px; right: 83px; bottom: 6px; width: 70px; }
#content ul.item-list li button.cancel:hover,
#content ul.item-list li button.really:hover 	    		{ text-decoration: none; background-color: #f84949; color: #7b1919; text-shadow: 1px 1px 1px #fe8585;
															  background-color: #a7a8af; color: #333; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
															  border: 1px solid; border-top-color: #88898D; border-left-color: #A2A3A9; border-right-color: #A2A3A9; border-bottom-color: #DDDDE0; }

#content ul.item-list li button.cancel,
#content ul.item-list li button.confirm						{ display: block; }

#content ul.item-list li img.success,
#content ul.item-list li img.failure			   			{ position: absolute; top: 10px; right: 10px; }


#content ul.item-list li a.item-title						{ background: none; color: #111; border: none; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
#content ul.item-list li a.item-title:hover					{ text-shadow: #eaeaea; }

#content ul.item-list li a.item-title.deleted				{ color: #888; cursor: default; }
#content ul.item-list li a.item-title.deleted:hover			{ text-decoration: none; }

#content ul.item-list li p.item-description					{ padding: 0; }
#content ul.item-list li span.item-children-count			{ font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 30px; font-weight: bold; color: #808185;
															  padding: 10px 10px 0 0; -moz-user-select: none; -webkit-user-select: none; cursor: default; float: left; }
																		  
#content ul.item-list li span.delete						{ position: absolute; }
#content ul.item-list li span.really						{ position: absolute; }


#content ul.item-list.img-items li img						{ position: absolute; left: 5px; top: 5px; height: 33px; }
#content ul.item-list.img-items li a.item-title				{ margin-left: 20px; }

/* Double Title */

#content ul.double-title.item-list li a.item-title			{ float: left; line-height: 1em; font-size: 14px; padding: 1px 0 0 0; }
#content ul.double-title.item-list li a.item-title.img-title{ padding: 1px 0 0 7px;  }
#content ul.double-title.item-list li p.item-subtitle		{ float: left; clear: left; padding: 5px 0 0 0; line-height: 1em; font-size: 11px; color: #181818; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
#content ul.double-title.item-list li img					{ float: left; }



/* Tag List */

#content p.tag-list	a										{ -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #ccc; border: none; padding: 2px 5px; line-height: 25px; white-space: nowrap; text-shadow: 1px 1px 0px #aaa; color: #fafafa; }
#content p.tag-list a:hover									{ background-color: #aaa; }


/* Links */

a                           { font-style: normal; color: #337; text-decoration: none; }
a:hover                     { text-decoration: underline; }

#content a                  { color: #999; background-color: #eaeaea; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 0 4px; border: 1px solid #dadada; white-space: nowrap; font-weight: bold;
							  text-shadow: 1px 1px 1px #fff; }
							  
#content span.mini-link										{ font-size: 0.7em; position: relative; bottom: 2px; padding-left: 5px; }
#content span.mini-link a									{ background: none; border: none; color: #111; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); text-transform: lowercase; }
#content span.mini-link a:hover								{ color: #5555dd; }

#content a:hover            { text-decoration: none; background-color: #f0f0f0; border: 1px solid #eaeaea; }

#content li.this a			{ background-color: #ffaa55; border-color: #dd8833; }
#content li.this a:hover	{ background-color: #ffcc77; }

#content a.img-link			{ background-color: transparent; border: none; padding: 0; margin: 0; }


div#header-wrap     { width: 100%; height: 140px; }

div#header          { width: 936px; margin: 0 auto; position: relative; left: 50%; margin-left: -468px; height: 140px; }

div#header-bg       {  width: 1300px; height: 406px; 
                      position: relative; margin: 0 auto; z-index: -10; }
div#header-bg h1    { display: none; }

/* Header - auth-box */

div#auth-box       								{ position: absolute; top: 42px; right: 30px; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
												  background-color: #fff; width: 168px; height: 42px; padding: 10px;
												  background-color: rgba(0, 0, 0, 0.2); border: 1px solid rgba(0,0,0,0.4); }

div#auth-box div a								{ color: rgba(255,255,255,0.8); }
div#auth-box div a:hover						{ text-decoration: none; }

div#auth-box img								{ float: left; }
div#auth-box div#ab-main						{ float: left; width: 116px; padding-left: 10px; padding-top: 1px; }

div#auth-box div#ab-main a#ab-username,
div#auth-box div#ab-main a#ab-logout,
div#auth-box div#ab-main a#ab-login,
div#auth-box div#ab-main a#ab-register			{ float: left; clear: both; margin-bottom: 8px; }

div#auth-box div#ab-main a#ab-login,
div#auth-box div#ab-main a#ab-username			{ font-size: 1.2em; }

div#auth-box div#ab-main a#ab-register,
div#auth-box div#ab-main a#ab-logout			{ color: #888; }

/* Promos */

div#android							{ visibility: hidden; position: absolute; height: 37px; width: 128px; right: 300px; bottom: 0px; overflow: hidden; }
div#android:hover					{ height: 60px; }

div#java							{ visibility: hidden; position: absolute; height: 37px; width: 128px; right: 400px; bottom: 0px; overflow: hidden; }
div#java:hover						{ height: 60px; }


div#promo-message					{ position: absolute; bottom: 0px; padding-bottom: 15px; text-align: center; width: 400px; }
div#promo-message p					{ padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #2a2a2a; text-shadow: #fff 1px 1px 21px; font-weight: bold; }

/*
div#header div#global-nav			{ float: left; position: relative; top: 120px; width: 100%; }

div#header div#global-nav ul		{ padding: 0; }
div#header div#global-nav li		{ float: left; padding: 5px 10px; }
div#header div#global-nav li a		{ display: block; opacity: 1.0; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 16px; color: #fff; }
*/

/* Full layout*/

div#content-wrap                    { width: 100%; }

div#content                         { width: 936px; background-color: #fff; margin: 0 auto; min-height: 400px; -moz-border-radius-topleft: 6px; 
                                      -moz-border-radius-topright: 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; text-align: left;
                                      z-index: 500; }

/* Sidebar Layout */

div#sb-wrapper              { margin: 0 auto; width: 936px; }
div#sb-sidebar              { width: 312px; float: left; }
div#sb-content              { width: 624px; min-height: 350px; background-color: #fff; float: left; -moz-border-radius-topleft: 6px;
                              -moz-border-radius-topright: 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; }
div#overview #thumb         { padding: 5px; padding-bottom: 3px; background-color: #fff; float: left; }
div#overview #thumb img     { height: 180px; max-width: 117px; }

/* Sidebar Layout - Meta */

div#overview #meta                      { float: left; width: 165px; margin: 10px; text-align: center; min-height: 170px; }
div#overview #meta #tags li.more:hover  { opacity:0.6; filter:alpha(opacity=60); cursor: pointer; }

/* Sidebar Layout - Meta - Ratings */

div#overview #meta #ratings             { padding-top: 10px; }
div#overview #meta #ratings:hover       { opacity:0.6; filter:alpha(opacity=60); }

/* Sidebar Layout - Meta - Tags */

div#overview #meta #tags                { padding: 5px 5px 10px; }
div#overview #meta #tags ul             { padding: 0; font-family: Helvetica, Arial, sans-serif ; color: #ddd; }
div#overview #meta #tags ul li          { padding-top: 9px; line-height: normal; }
div#overview #meta #tags ul li.more     { color: #fff; padding-top: 18px; text-transform: uppercase; }

/* Footer */

#footer-wrap        { width: 100%; }
#footer             { width: 936px; text-align: center; margin: 0 auto; color: #bbb; font-size: 11px; height: 50px; padding-top: 10px; }
#footer a			{ color: #bbb; text-decoration: underline; }

/* Clearfix */

.clearfix:after     { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/* Breadcrumbs */

#breadcrumbs       									{ color: white; }
#breadcrumbs a     									{ color: #474747; -moz-border-radius: 0; -webkit-border-radius: 0; border: none; display: block; padding: 0; padding: 1px 5px 0 20px;
													  background: url(/media/images/breadcrumbs-divider.png) top left no-repeat; height: 22px; text-shadow: #f9faf9 1px 1px 1px; }
#breadcrumbs a:hover								{ background: url(/media/images/breadcrumbs-divider.png) top left no-repeat; border: none; color: #272727; text-shadow: #f9faf9 2px 2px 2px; }
#breadcrumbs ul    									{ padding: 0; background: url(/media/images/breadcrumbs-bg.png) repeat-x; -moz-border-radius: 6px 6px 0 0; border-bottom: 1px solid #d4d4d4;
													  -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; }
#breadcrumbs ul li 									{ display: inline; float: left; font-size: 11px; padding: 0; }
#breadcrumbs ul li.alpha							{ -moz-border-radius: 6px 0 0 0; -webkit-border-radius: 6px 6px 0 0; }

body#home-page 							#breadcrumbs ul li#bc-home-page a,
body#books-book-detail					#breadcrumbs ul li#bc-books-book-detail a,
body#books-book-list					#breadcrumbs ul li#bc-books-book-list a,
body#libraries-add-books				#breadcrumbs ul li#bc-libraries-add-books a,
body#libraries-bookshelf-detail			#breadcrumbs ul li#bc-libraries-bookshelf-detail a,
body#libraries-library-detail			#breadcrumbs ul li#bc-libraries-library-detail a,
body#libraries-library-list				#breadcrumbs ul li#bc-libraries-library-list a,
body#libraries-profile					#breadcrumbs ul li#bc-libraries-profile a,
body#registration-activation-complete	#breadcrumbs ul li#bc-registration-activation-complete a,
body#registration-login					#breadcrumbs ul li#bc-registration-login a,
body#registration-complete				#breadcrumbs ul li#bc-registration-complete a,
body#registration-form					#breadcrumbs ul li#bc-registration-form a,
body#users-book-detail					#breadcrumbs ul li#bc-users-book-detail a,
body#users-user-detail					#breadcrumbs ul li#bc-users-user-detail a		{ /* background: url(/media/images/breadcrumbs-divider-penultimate.png) top left no-repeat; */ }

body 									#breadcrumbs ul li#bc-home-page a		{ background-image: none !important; padding-left: 10px !important; }

/* Global Navigation */

#global-nav											{ position: absolute; bottom: 0px; padding: 0 0 20px 0; width: 100%; }
#global-nav ul										{ padding: 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; background: url(/media/images/black-50-bg.png) repeat; }
#global-nav ul li									{ display: inline; float: left; padding: 0; }
#global-nav ul li a									{ display: block; font-size: 20px; font-family: Arial, Helvetica, sans-serif; padding: 10px 10px; }


/* jQuery */

div.dialog											{ display: none; }

/* GrowlUI */

div.growlUI											{ background: url(check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 						{ color: white; padding: 5px 5px 5px 75px; text-align: left; width: auto; }

div.growlUI h1										{ font-size: 18px; }
div.growlUI h2										{ font-size: 13px; }

/* Book Details */

table.book-details 									{ margin-top: 20px; }
table.book-details td 								{ padding-right: 20px; }

/* Icon Links */

div.icon-link										{  }
div.icon-link img									{ float: left; padding-right: 10px; }

div.icon-link h1.compact,
div.icon-link h2.compact,
div.icon-link h3.compact							{ padding: 5px 0; }

div.icon-link p.last								{ padding-bottom: 0; }


/* Last */

div#content div.section div.inner .last 			{ padding-bottom: 0; }

div#content div.third								{ float: left; margin-left: 20px; width: 280px; }
div#content div.third.alpha							{ margin-left: 0; width: 300px; }
div#content div.third.omega							{  }

div#content div.two-thirds							{ float: left; margin-left: 20px; width: 600px; }
div#content div.two-thirds.alpha					{ margin-left: 0; }

/* Add Books */

form#add-books div.rowElem							{ float: left; }
form#add-books div.rowElem.button					{ clear: none; position: relative; top: -2px; }

div#content table#lookup-status						{ width: 100%; }
div#content table#lookup-status td.source			{ background-color: #eee; padding: 10px; border: 2px solid white; border-right: 1px solid #ddd; width: 60px; text-transform: uppercase; font-weight: bold; text-align: center; }
div#content table#lookup-status td.status			{ background-color: #fafafa; padding: 10px; border: 2px solid white; border-left: none; color: #ddd; -moz-user-select: none; }

div#content ul.picker								{ padding: 0; width: 284px; height: 200px; margin: 5px 0; overflow-y: scroll; border-top: 1px solid #ddd; position: relative; background-color: white; }

div#content ul.picker li							{ display: block; -moz-user-select: none; cursor: default; padding: 0; color: #444; padding-left: 9px; font-size: 12px; line-height: 17px; height: 17px; }
div#content ul.picker li.selected					{ background-color: #d4d4d4; }
div#content ul.picker li.selected.prime				{ color: #fff; background-color: #3875d7; }

div#content ul.picker li.has-more					{ background: url(/media/images/ui/more.png) top right no-repeat; background-position: 258px 5px; }
div#content ul.picker li.has-more.selected			{ background: #d4d4d4 url(/media/images/ui/more-selected.png) top right no-repeat; background-position: 258px 5px; }
div#content ul.picker li.has-more.selected.prime	{ color: #fff; background: #3875d7 url(/media/images/ui/more-selected-prime.png) top right no-repeat; background-position: 258px 5px; }


div#content ul#library-picker						{ border-left: 1px solid #eee; margin-left: 5px; }

div#content ul li.no-items,
div#content ul.picker li.no-bookshelves				{ text-align: center; padding: 0; color: #bbb; }

button#add-books-button,
button#add-more-books,
button#view-books									{ margin-top: 10px; float: right; }

button#view-books									{ margin-left: 10px; }

/* Voting */

div.vote-cell										{ width: 40px; position: relative; float: left; }
div.vote-cell .vote-up,
div.vote-cell .vote-down							{ display: block; margin: 0 auto; cursor: pointer; }

div.vote-cell .vote-score							{ display: block; color: #808185; font-weight: bold; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 30px; text-align: center; }

div.votable-content									{ position: relative; float: right; width: 845px; padding-left: 15px; }

/* Layout */

.center												{ text-align: center; }
.left												{ float: left; }
.container											{ position: relative; }
.clear												{ clear: both; }

/* Misc */

.ajax-loader										{ background: url(/media/images/ajax-loader.gif) no-repeat top left; width: 16px; height: 11px; }


/* Overlay */

.overlay											{ display:none; cursor: default; background: url(/media/images/black-50-bg.png) repeat; -webkit-border-radius: 10px; -moz-border-radius: 10px; padding: 10px; color: #fff; }
.overlay .overlay-header							{ -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; background-color: #eaeaea; border: 1px solid #000; border-bottom: 1px solid #ddd; padding: 20px 20px 0 20px; }
.overlay .overlay-body								{ background-color: #fafafa; border-left: 1px solid #000; border-right: 1px solid #000; padding: 20px; color: #333; }
.overlay .overlay-footer							{ -moz-border-radius: 0 0 5px 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; background-color: #fafafa; padding: 0 20px 20px; border: 1px solid #000; border-top: none; }

.overlay h1											{ font-size: 24px; color: #aaa; text-shadow: 1px 1px 1px #f1f1f1; line-height: 1.2em; padding: 0; }
.overlay p											{ padding: 0; line-height: 1.5em; }

.overlay .overlay-button							{ color: #333; background-color: #555; text-shadow: 1px 1px 1px #737373; border: 1px solid #111; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 5px 10px; cursor: pointer;
													  font-weight: bold; text-transform: uppercase; }
.overlay .overlay-button:hover						{ background-color: #737373; text-shadow: 1px 1px 1px #999; }
.overlay .overlay-button.overlay-ok					{ float: right; }

/* Realtime Twitter Update Style */

#realtime-twitter-updates 							{ float:left; margin-bottom:15px; margin-left:10px; padding-top:5px; width: 100%; }

#realtime-twitter-updates ul						{ margin-left: 0px; list-style: none; padding-left: 10px; text-indent: -10px; }
#realtime-twitter-updates li 						{ margin: 7px 0; font-size: 10px; padding: 0; }
#realtime-twitter-updates a 						{ color: #2786C2; text-decoration: none; background: none; border: none; }
#realtime-twitter-updates a:hover					{ text-decoration: underline; background: none; border: none; }

#realtime-twitter-updates span						{  }

#realtime-twitter-updates a.username				{ padding: 2px 8px; background-color: #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-shadow: #aaa 1px 1px 1px; margin-right: 10px; font-size: 13px; }
#realtime-twitter-updates a.username:hover			{ background-color: #ddd; text-decoration: none; }


/* Drag and Drop */

.draggable											{ cursor: move; }
.ui-draggable										{  }
.ui-draggable-dragging								{ background-color: #B0B1B8; }
.ui-state-hover										{ background-color: white; }


/* Forms */

form.normal	input,
form.normal label									{ float: left; clear: left; margin-bottom: 10px; }

form.normal label									{ color: #2E2E2E; font-size: 14px; font-family: Helvetica, Arial, Sans-Serif; }
form.normal input									{ padding: 5px; }

form.normal div.field								{  }
form.normal div.footer								{ padding-top: 10px; }
form.normal div.footer input						{ margin-right: 5px; }

form.normal div.field span.error					{ float: left; padding: 7px 0 0 20px; color: red; }

form.normal input.default							{ color: #aaa; }

/* Library Switcher */

.library-switcher											{ background-color: #eee; -moz-border-radius: 3px; border: 1px solid #ddd; }

.library-switcher ul										{ padding: 0; width: 100%; border-top: 1px solid #ddd; }
.library-switcher ul li										{ display: inline; float: left; width: 50%; }
.library-switcher ul li.omega								{ border-right: none; }

.library-switcher ul li.selected							{ background-color: #ffffff; border: none; }
.library-switcher ul li.selected.alpha						{ -moz-border-radius-bottomleft: 3px; }
.library-switcher ul li.selected.omega						{ -moz-border-radius-bottomright: 3px; }

#content .library-switcher ul li.selected a					{ cursor: default; }
#content .library-switcher ul li a							{ display: block; text-align: center; -moz-border-radius: 0; border: none; background-color: transparent; padding: 5px 0; }

.library-switcher p											{ padding: 10px; font-size: 0.8em; }