{% extends "libraries/profile.html" %}

{% block title %}
Change Password | {{ block.super }}
{% endblock %}

{% block page_title %}libraries-profile{% endblock %}

{% load truncate_filters %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url django.contrib.auth.views.password_change %}">Change Password</a></li>
{% endblock %}

{% block content %}

<div class="section">
	<div class="inner">
		<h1>Change Password</h1>
		<form action="" method="post" class="normal">
			{% for field in form %}
			
			<div class="field clearfix">
				{{ field.label_tag }}
				{{ field }}
				
				{% if field.errors %}<span class="error">{{ field.errors.0 }}</span>{% endif %}
			</div>
			{% endfor %}
			
			<div class="footer clearfix">
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>

{% endblock %} 