{% extends "libraries/profile.html" %}

{% block title %}
Change Password | {{ block.super }}
{% endblock %}

{% block page_title %}libraries-profile{% endblock %}

{% load truncate_filters %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url django.contrib.auth.views.password_change %}">Change Password</a></li>
{% endblock %}

{% block content %}

<div class="section">
	<div class="inner">
		<h1>Change Password</h1>
		<form action="" method="post">
			{{ form }}
		</form>
	</div>
</div>

{% endblock %} 