{% extends "registration/base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript">
	$(function() {
		//find all the forms with the class of jqtransform and then apply the plugin
		$("form.jqtransform").jqTransform();
	});
</script>
{% endblock %}

{% block page_title %}registration-form{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li id="bd-registration-form"><a href="{% url registration.urls.register %}">Registration</a></li>
{% endblock %}

{% block content %}
<div class="banner clearfix">
	<div class="stage one active">
		<span>1.</span>
		<p>Enter details</p>
	</div>
	<div class="stage two">
		<span>2.</span>
		<p>Activation</p>
	</div>
	<div class="stage three">
		<span>3.</span>
		<p>Activated</p>
	</div>
</div>

<div class="section">
	<div class="inner">
		<h2>Register</h2>
		
		<form action="{% url registration.urls.register %}" method="post" class="normal">
			
			{{ form.username.label_tag }}
			{{ form.username }}
			{{ form.username.errors }}

			{{ form.email.label_tag }}
			{{ form.email }}
			{{ form.email.errors }}

			{{ form.password1.label_tag }}
			{{ form.password1 }}
			{{ form.password1.errors }}

			{{ form.password2.label_tag }}
			{{ form.password2 }}
			{{ form.password2.errors }}
			
			<input type="submit" value="Register" />
		</form>
	</div>
</div>
{% endblock %}