{% extends 'libraries/base.html' %}

{% block breadcrumbs %}
{{ block.super }}
<li> > <a href="{% url add_books %}">Add Books</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jqtransform/jquery.jqtransform.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript">
	$(function() {
		$("form#add-books").jqTransform();
		
		$("button#add-books-button").attr('disabled', 'disabled');
		
		$("form#add-books").submit(function() {
			
			var form = $(this);
			
			formData = form.serialize();
			
			$("#add-books").block({
				css: {
		            border: 'none',
		            padding: '15px',
		            backgroundColor: '#000',
		            '-webkit-border-radius': '10px',
		            '-moz-border-radius': '10px',
		            opacity: .5,
		            color: '#fff'
				},
				message: 'Searching'
			});
			
			$.get('{% url api_get_book_detail %}', formData, function(data) {
				
				$("#add-books").unblock();
				
				if (data.meta.success) {
					var booksBox = $("#books-box");
					
					if ($("#" + data.book.pk).length > 0) {
						alert('You already have this book in your box!');
					} else {
						booksBox.append('<li style="display: none;" id="' + data.book.pk + '"><span>' + data.book.title + '</span> by ' + data.book.author + '</li>');
						$("#" + data.book.pk).slideDown('200');
						$("button#add-books-button").attr('disabled', '');
					}
				} else {
					$.blockUI({ 
						css: { 
				            border: 'none', 
				            padding: '15px', 
				            backgroundColor: '#000', 
				            '-webkit-border-radius': '10px', 
				            '-moz-border-radius': '10px', 
				            opacity: .5, 
				            color: '#fff' 
				        }, message: data.meta.error,
				        timeout: 2000
			        });
				}
				
			}, 'json');
			
			return false;
		});
		
		$("button#add-books-button").click(function() {
			
			var button = $(this);
			
			$("ul#books-box li").each(function() {
				var item = $(this);
				var id = item.attr('id');
				
				$.post('{% url api_save_profile %}', {collection_pk: '{{ collection.pk }}', book_pk:id}, function(data) {
					
					button.attr('disabled', 'disabled');
					
					if (data.meta.success) {
						item.append(' <span>ADDED!</span>');
					} else {
						item.append(' <span>WAS NOT ADDED!</span>');
						alert(data.meta.error);
					}
				}, 'json');
			});
			
		});
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h1>Add Some Books</h1>
			<div class="clearfix">
				<div>
					<form id="add-books" action="" method="post" class="jqTransform clearfix">
					{# {% if collection %}<input type="hidden" name="collection_pk" value="{{ collection.pk }}" />{% endif %} #}
					<div class="rowElem clearfix">
						<input type="text" id="isbn" name="isbn" value="" />
					</div>
					<div class="button rowElem clearifx">
						<input type="submit" value="Find" />
					</div>
				</form>
				</div>
			</div>
			<div>
				<h3>Books in Box</h3>
				<ul id="books-box"></ul>
				<button id="add-books-button">Add All Books</button>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="inner">
			<p class="center"><a href="{{ collection.get_absolute_url }}">{{ collection.pk }}</a></p>
		</div>
	</div>
{% endblock %}