{% extends 'libraries/base.html' %}

{% block breadcrumbs %}
{{ block.super }}
<li> > <a href="{% url add_books %}">Add Books</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jqtransform/jquery.jqtransform.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript">
	$(function() {
		$("form#add-books").jqTransform();
		
		$("form#add-books").submit(function() {
			
			var form = $(this);
			
			formData = form.serialize();
			
			$.post('{% url api_save_profile %}', formData, function(data){
				if (data.meta.success) {
					$.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#000', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .5, 
			            color: '#fff' 
			        }, message: '<h1>' + data.book.title + '</h1><p>' + 
			        			data.book.author + '</p><p>' + 
			        			data.book.description + '</p><p>' + 
			        			data.book.publisher + '</p><p>' + 
			        			data.book.published + '</p><input type="button" id="go-to-profile" value="Go to Profile" />' });
			        
			        $("#go-to-profile").click(function() {
			        	window.location.replace(data.profile.url);
			        });
				} else {
					alert(data.meta.error);
				}
			}, 'json');
			return false;
		});
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h1>Add Some Books</h1>
			<form id="add-books" action="" method="post" class="jqTransform">
				{% if collection %}<input type="hidden" name="collection_pk" value="{{ collection.pk }}" />{% endif %}
				<div class="rowElem">
					<input type="text" id="isbn" name="isbn" value="" />
				</div>
				<div class="rowElem">
					<input type="submit" value="Add" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}