{% extends "libraries/base_sidebar.html" %}

{% block sidebar %}
<div id="overview" class="clearfix">
	<div id="thumb">
		<img src="/media/images/book-thumb.jpg" />
	</div><!-- / #thumb -->
	<div id="meta">
		<div id="ratings">
			<img src="/media/images/ratings-5stars.png" />
		</div><!-- / #ratings -->
		<div id="tags">
			<ul>
				<li>Autobile driving</li>
				<li>Automobiles</li>
				<li>English wit and humor</li>
				<li>Humor / General</li>
				<li class="more">more tags</li>
			</ul>
		</div><!-- / #tags -->
	</div><!-- / #meta -->
</div><!-- / #overview -->
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner">
		{% if book %}
			<h2>{{ book.isbn }}</h2>
		{% else %}
			<h2>Whoops!</h2>
			<p>You dont have that book in this library.</p>
		{% endif %}
	</div>
</div>
{% endblock %}