{% extends "libraries/library_detail.html" %}

{% block title %}
{% if bookshelf %}
	{{ bookshelf.name }} | {{ block.super }}
{% else %}
	{{ unsorted_bin.value }} | {{ block.super }}
{% endif %}
{% endblock %}

{% block page_title %}libraries-bookshelf-detail{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if bookshelf %}
		<li id="bc-libraries-bookshelf-detail" class="bookshelf"><a href="{% url bookshelf_detail library.slug, bookshelf.slug %}">{{ bookshelf.name }}</a></li>
	{% else %}
		<li id="bc-libraries-bookshelf-detail" class="bookshelf"><a href="{% url library_detail library.slug %}{{ unsorted_bin.slug }}/">{{ unsorted_bin.value }}</a></li>
	{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript">
	$(function() {
		// Editing Details
		
		$("div.editable .detail").editable(function(value, settings) {
			var detail = $(this);
			if (detail.attr('id') == 'name') {
				postData = {name: value, pk: '{{ bookshelf.pk }}'}
			} else if (detail.attr('id') == 'description') {
				postData = {description: value, pk: '{{ bookshelf.pk }}'}
			}
			var result = '';
			
			detail.block({
				fadeIn: 10,
				fadeOut: 10,
				css: { 
		            border: 'none',
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        },
		        message: 'Updating' 
		    });
			
			$.ajax({
				url: '{% url api_save_collection %}',
				data: postData,
				async: false,
				dataType: 'json',
				type: 'POST',
				success: function(data) {
					if (data.meta.success == true) {
						if (detail.attr('id') == 'name') {
							result = data.collection.name;
						} else if (detail.attr('id') == 'description') {
							result = data.collection.description;
						}
						
					} else if(data.meta.success == false) {
						alert(data.meta.error);
					}
				}
			});
			
			detail.unblock();
			
			return result;
		});
		
		// Adding Bookshelves
		
		$("form#add-book-form").submit(function() {
			
			var form = $(this);
			var formData = form.serialize();
			
			form.find(':input').attr('disabled', 'disabled');
						
			$.get('{% url api_get_book_detail %}', formData, function(data) {
				if (data.meta.success == true) {
					var book = data.book;
					$("ul#book-list").append('<li id="' + book.pk + '" style="display:none"><a class="item-title deleted">' + book.title + '</a> by ' + book.author + '<button class="confirm">confirm</button><button class="cancel">cancel</button></li>');
					
					var item = $('li#' + book.pk);
					var book_pk = item.attr('id');
					var collection_pk = '{% if bookshelf %}{{ bookshelf.pk }}{% else %}{{ library.pk }}{% endif %}'
					
					item.find('button.confirm').click(function() {
						$.ajax({
							url: '{% url api_save_profile %}',
							data: {collection_pk: collection_pk, book_pk: book_pk},
							dataType: 'json',
							type: 'POST',
							success: function(data) {
								if (data.meta.success == true) {
									item.attr('id', data.profile.pk);
									var title = item.find('a.item-title');
									title.attr('href', data.profile.url).removeClass('deleted');
									item.find('button').fadeOut('200');
								} else if(data.meta.success == false) {
									alert(data.meta.error);
								}
							},
							error: function() {
							
							}
						});
					});
					
					item.find('button.cancel').click(function() {
						item.slideUp('200', function() {
							$(this).remove();
						});
					});
					
					$('#' + book.pk).slideDown('200');
				} else if(data.meta.success == false) {
					alert(data.meta.error);
				}
			}, "json");
			
			form.find(':input').attr('disabled', '');
			form.find(':input[name="name"]').val('');
			
			return false;
		});
		
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<div class="two-thirds alpha">
					{% if bookshelf %}
						<div class="editable">
							<h2 id="name" class="detail">{{ bookshelf.name }}</h2>
						</div>
						<div class="editable">
							<p id="description" class="detail">{{ bookshelf.description }}</p>
						</div>
					{% else %}
						<h2>{{ unsorted_bin.value }}</h2>
						<p>{{ unsorted_bin_description.value }}</p>
					{% endif %}
				</div> <!-- / .two-thirds.alpha -->
				<div class="third omega">
					<h3>Title</h3>
					<p>Not sure what should go here.</p>
				</div> <!-- / .third.omega -->
			</div> <!-- / .container.clearfix -->
		</div> <!-- / .inner -->
	</div> <!-- / .section -->
	
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<div class="two-thirds alpha">
					{% if bookshelf %}
						<ul id="book-list" class="item-list">
							{% for book in bookshelf.books.all %}
								<li id="{{ book.pk }}">
									<a class="item-title" href="{{ book.get_absolute_url }}">{{ book.title }}</a> by {{ book.author }}
								</li>
							{% endfor %}
						</ul>
						{% if bookshelf.books.all %}
						{% else %}
							<p class="center">There are no books in this bookshelf.</p>
						{% endif %}
						<div class="new-item-form">
							<form id="add-book-form" action="" method="post">
								<input type="hidden" name="collection_pk" id="collection_pk" value="{{ bookshelf.pk }}" />
								<input type="text" name="isbn" id="id_isbn" />
								<input type="submit" value="Add" />
							</form>	
						</div>
					{% else %}
						<ul id="book-list" class="item-list">
							{% for book in library.books.all %}
								<li id="{{ book.pk }}">
									<a class="item-title" href="{{ book.get_absolute_url }}">{{ book.title }}</a> by {{ book.author }}
								</li>
							{% endfor %}
						</ul>
						{% if library.books.all %}
						{% else %}
							<p class="center">There are no books in this {{ unsorted_bin.value|lower }}.</p>
						{% endif %}
						<div class="new-item-form">
							<form id="add-book-form" action="" method="post">
								<input type="hidden" name="collection_pk" id="collection_pk" value="{{ bookshelf.pk }}" />
								<input type="text" name="isbn" id="id_isbn" />
								<input type="submit" value="Add" />
							</form>	
						</div>
					{% endif %}
					
				</div>
				<div class="third omega">
					<h3>Overview</h3>
					<p>You can add books via 2 methods: Enter an ISBN number right here over on the left, or use the central method.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<p class="center"><a href="{% url add_books %}?c={{ library.pk }}">Click Here to Add Books to This Bookshelf</a></p>
		</div>
	</div>
{% endblock %}