{% extends "libraries/library_list.html" %}

{% block title %}
{{ library.name }} | {{ block.super }}
{% endblock %}

{% block page_title %}libraries-library-detail{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li id="bc-libraries-library-detail" class="library"><a href="{% url library_detail library.slug %}">{{ library.name }}</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/media/js/jquery.jeditable.mini.js"></script>
<script type="text/javascript">
	$(function() {
		
		// Editing Details
		
		$("div.editable .detail").editable(function(value, settings) {
			var detail = $(this);
			if (detail.attr('id') == 'name') {
				postData = {name: value, pk: '{{ library.pk }}'}
			} else if (detail.attr('id') == 'description') {
				postData = {description: value, pk: '{{ library.pk }}'}
			}
			var result = '';
			
			detail.block({
				fadeIn: 10,
				fadeOut: 10,
				css: { 
		            border: 'none',
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        },
		        message: 'Updating' 
		    });
			
			$.ajax({
				url: '{% url api_save_collection %}',
				data: postData,
				async: false,
				dataType: 'json',
				type: 'POST',
				success: function(data) {
					if (data.meta.success == true) {
						if (detail.attr('id') == 'name') {
							result = data.collection.name;
						} else if (detail.attr('id') == 'description') {
							result = data.collection.description;
						}
						
					} else if(data.meta.success == false) {
						alert(data.meta.error);
					}
				}
			});
			
			detail.unblock();
			
			return result;
		},
		{ 
			cssclass: 'editing',
			submit: 'save',
			cancel: 'cancel',
			width: '457px'
		});
				
		// Adding Bookshelves
		
		$("form#new-bookshelf-form").submit(function() {
			
			var form = $(this);
			
			var formData = form.serialize();
			
			form.block({
				fadeIn: 10,
				fadeOut: 10,
				css: { 
		            border: 'none',
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        },
		        message: 'Adding Bookshelf' 
		    });
			
			$.post('{% url api_save_collection %}', formData, function(data) {
				if (data.meta.success == true) {
					var name = data.collection.name;
					var description = data.collection.description;
					var url = data.collection.url;
					var pk = data.collection.pk;
					$("ul#bookshelf-list").append('<li id="' + pk + '" style="display: none"><a class="item-title" href="' + url + '">' + name + '</a><span class="item-children-count">0</span><span class="delete">delete</span></li>');
					$("li#" + pk).slideDown('200');
					
					$("#" + pk).hover(bookshelf_hover_over, bookshelf_hover_out);
					$("#" + pk + " span.delete").click(bookshelf_click_delete);
					
					$.growlUI('Bookshelf Added', 'Your bookshelf was added successfully');
										
					form.unblock();
					
				} else if(data.meta.success == false) {
					form.unblock();
					$.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#000', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .5, 
			            color: '#fff' 
			        }, message: '<h1>There was an error adding the Bookshelf</h1><p>' + data.meta.error + '</p><input type="button" value="OK" id="blockUI-OK" />' });
			        
			        $("#blockUI-OK").click(function() {
			        	$.unblockUI();
			        	return false;
			        });
				}
			}, "json");
			
			form.find(':input[name="name"]').val('');
			
			return false;
		});
		
		// Bookshelf List
		
		function bookshelf_hover_over() {
			$(this).find('span.delete, span.really').css('display', 'inline');
		}
		
		function bookshelf_hover_out() {
			$(this).find('span.delete').css('display', 'none');
			$(this).find('span.really').remove();
		}
		
		function bookshelf_click_delete() {
			var bookshelf_row = $(this).parent();
			var bookshelf_pk = bookshelf_row.attr("id");
			
			if (bookshelf_row.find('span.really').length == 0) {
				
				bookshelf_row.append('<span class="really">really</span>');
			
				var really = bookshelf_row.find('span.really');
				
				really.css('display', 'inline');
				
				really.click(function() {
					$.post('{% url api_delete_collection %}', {pk: bookshelf_pk}, function(data) {
						if (data.meta.success == true) {
							bookshelf_row.slideUp('200', function() {
								$(this).remove();
							});
							$.growlUI('Bookshelf Deleted', 'Your bookshelf was deleted successfully');
						} else if(data.meta.success == false) {
							$.blockUI({ css: {
								'class': 'specialclass',
					            border: 'none', 
					            padding: '15px', 
					            backgroundColor: '#000', 
					            '-webkit-border-radius': '10px', 
					            '-moz-border-radius': '10px', 
					            opacity: .5, 
					            color: '#fff' 
					        }, message: '<h1>There was an error deleting the Bookshelf</h1><p>' + data.meta.error + '</p><input type="button" value="OK" id="blockUI-OK" />' });
					        
					        $("#blockUI-OK").click(function() {
					        	$.unblockUI();
					        	return false;
					        });
						}
					}, "json");
				});
				
			}
		}
		
		$("ul#bookshelf-list li").append('<span class="delete">delete</span>');
			  
		$("ul#bookshelf-list li").hover(bookshelf_hover_over, bookshelf_hover_out);
			  
		$("ul#bookshelf-list li span.delete").click(bookshelf_click_delete);
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<div class="two-thirds alpha">
					<div class="editable">
						<h2 id="name" class="h2-detail detail">{{ library.name }}</h2>
					</div>
					<div class="editable">
						<p id="description" class="p-detail detail">{{ library.description }}</p>
					</div>
				</div>
				<div class="third omega">
					<h3><a href="{{ library.get_absolute_url }}{{ unsorted_bin.slug }}/">{{ unsorted_bin.value }}</a></h3>
					<p>This Library has {{ library.books.all|length }} book{{ library.books.all|pluralize }} which you should move into a bookshelf.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<div class="two-thirds alpha">
					<ul id="bookshelf-list" class="item-list">
						{% for bookshelf in library.children.all %}
							<li id="{{ bookshelf.pk }}">
								<a class="item-title" href="{{ bookshelf.get_absolute_url }}">{{ bookshelf.name }}</a>
								<span class="item-children-count">{{ bookshelf.children.all|length }}</span>
							</li>
						{% endfor %}
						{% if library.children.all %}
						{% else %}
							<p class="center">This library has no bookshelves, add some here.</p>
						{% endif %}
					</ul>
					<div class="new-item-form clearfix">
						<form id="new-bookshelf-form" action="" method="post" class="clearfix">
							<input type="hidden" name="parent_pk" id="parent_pk" value="{{ library.pk }}" />
							<input type="hidden" name="collection_type" id="collection_type" value="bookshelf" />
							{{ form.name }}
							<input type="submit" value="Create" />
						</form>	
					</div>
				</div>
				<div class="third omega">
					<h3>Overview</h3>
					<p>Bookshelves are a way to organise collections of books, which you might in real life store next to each other on the same "bookshelf".</p>
					
					<h3>Deleting</h3>
					<p>When you delete a bookshelf you must decide what to do with the books it contains. You can move them to another area, or delete them as well.</p>
					
					<h3>Editing</h3>
					<p>If you want to change the name or description of a bookshelf, you must first choose it from the list to the left.</p>
					
					<h3>Adding</h3>
					<p>No two bookshelves in the same library may have the same name.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<p class="center last"><a href="{% url add_books %}?c={{ library.pk }}">Add a Book To This Library</a></p>
		</div>
	</div>
	
	<div id="bookshelf-delete" class="dialog" title="Delete this Bookshelf?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 7px 30px 0;"></span>This bookshelf will be permanently deleted. Are you sure?</p>
	</div>
	
	<div id="bookshelf-delete-error" class="dialog" title="Problem deleting Library!">
		<p class="error-message"><span class="ui-icon ui-icon-alert" style="float:left; margin:2px 7px 30px 0;"></span></p>
	</div>
{% endblock %}