{% extends "libraries/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
<li> > <a href="{% url library_list %}">Your Libraries</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jqtransform/jquery.jqtransform.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript">
	$(function() {
		//find all the forms with the class of jqtransform and then apply the plugin
		$("form.jqtransform").jqTransform();
		
		// Library List
		
		function library_hover_over() {
			$(this).find('span.delete, span.really').css('display', 'inline');
		}
		
		function library_hover_out() {
			$(this).find('span.delete').css('display', 'none');
			$(this).find('span.really').remove();
		}
		
		function library_click_delete() {
			var library_row = $(this).parent();
			var library_pk = library_row.attr("id");
			
			if (library_row.find('span.really').length == 0) {
				
				library_row.append('<span class="really">really</spa>');
			
				var really = library_row.find('span.really');
				
				really.css('display', 'inline');
				
				really.click(function() {
					$.post('{% url api_delete_collection %}', {collection_pk: library_pk}, function(data) {
						if (data.meta.success == true) {
							library_row.slideUp('200', function() {
								$(this).remove();
							});
							$.growlUI('Library Deleted', 'Your library was deleted successfully');
						} else if(data.meta.success == false) {
							$.blockUI({ css: {
								'class': 'specialclass',
					            border: 'none', 
					            padding: '15px', 
					            backgroundColor: '#000', 
					            '-webkit-border-radius': '10px', 
					            '-moz-border-radius': '10px', 
					            opacity: .5, 
					            color: '#fff' 
					        }, message: '<h1>There was an error deleting the Library</h1><p>' + data.meta.error + '</p><input type="button" value="OK" id="blockUI-OK" />' });
					        
					        $("#blockUI-OK").click(function() {
					        	$.unblockUI();
					        	return false;
					        });
						}
					}, "json");
				});
				
			}
		}
		
		$("ul#library-list li").append('<span class="delete">delete</span>');
		
		$("ul#library-list li").hover(library_hover_over, library_hover_out);
		
		$("ul#library-list li span.delete").click(library_click_delete);
		
		// Add New Library
		
		$("form#new-library-form").submit(function() {
			
			var form = $(this);
			
			var formData = form.serialize();
			
			form.block({ 
				fadeIn: 10,
				fadeOut: 10,
				css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        }, 
		        message: 'Adding Library' 
		    });
			
			$.post('{% url api_save_collection %}', formData, function(data) {
				if (data.meta.success == true) {
					var name = data.collection.name;
					var description = data.collection.description;
					var url = data.collection.url;
					var pk = data.collection.pk;
					$("ul#library-list").append('<li id="' + pk + '" style="display: none"><a href="' + url + '">' + name + '</a><span class="delete">delete</span></li>');
					$("li#" + pk).slideDown('200');
					
					$("#" + pk).hover(library_hover_over, library_hover_out);
					$("#" + pk + " span.delete").click(library_click_delete);
					
					$.growlUI('Library Added', 'Your new library was added successfully');
					
					form.unblock();
					
				} else if(data.meta.success == false) {
					form.unblock();
					$.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#000', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .5, 
			            color: '#fff' 
			        }, message: '<h1>There was an error adding the Library</h1><p>' + data.meta.error + '</p><input type="button" value="OK" id="blockUI-OK" />' });
			        
			        $("#blockUI-OK").click(function() {
			        	$.unblockUI();
			        	return false;
			        });
				}
			}, "json");
			
			form.find(':input[name="name"]').val('');
			
			return false;
		});
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h2>Your Libraries</h2>
			<p>Your libraries will all be here one day.</p>
			{% if object_list %}
			<ul id="library-list" class="collection-list">
				{% for library in object_list %}
					<li id="{{ library.pk }}"><a href="{{ library.get_absolute_url }}">{{ library.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p class="error">Erm. You do realise you dont have any libraries yet.</p>
			{% endif %}
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<h3>Create a new <span class="library">Library</span></h3>
			<p>Pick a name for your new library, make sure its not the same as another one and hit create.</p>
			<form id="new-library-form" action="" method="post" class="jqtransform">
				<input type="hidden" name="collection_type" value="library" />
				<div class="rowElem">
					{{ form.name }}
				</div>
				<div class="rowElem">
					<input type="submit" value="Create" />
				</div>
			</form>
		</div>
	</div>
	
	<div id="library-delete" class="dialog" title="Delete this Library?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 7px 30px 0;"></span>This library will be permanently deleted. Are you sure?</p>
	</div>
	
	<div id="library-delete-error" class="dialog" title="Problem deleting Library!">
		<p class="error-message"><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 7px 30px 0;"></span></p>
	</div>
{% endblock %}