{% extends "libraries/profile.html" %}

{% block title %}
Your Libraries | {{ block.super }}
{% endblock %}

{% load truncate_filters %}

{% block page_title %}libraries-library-list{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li id="bc-libraries-library-list"><a href="{% url library_list %}">Libraries</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.blockUI.js"></script>
<script type="text/javascript">
	$(function() {
		
		// Close events for overlays
		
		$('#accept-overlay input.overlay-ok').click(function() {
			 $.unblockUI();
			 return false;
		});
		
		// Library List
		
		function library_hover_over() {
			$(this).find('button.delete, button.really').css('display', 'block');
		}
		
		function library_hover_out() {
			$(this).find('button.delete').css('display', 'none');
			$(this).find('button.really').remove();
		}
		
		function library_click_delete() {
			var library_row = $(this).parent();
			var library_pk = library_row.attr("id");
			
			if (library_row.find('button.really').length == 0) {
				
				library_row.append('<button class="really">really</button>');
			
				var really = library_row.find('button.really');
				
				really.css('display', 'block');
				
				really.click(function() {
					$.ajax({
						url: '{% url api_delete_collection %}',
						data: { pk: library_pk },
						dataType: 'json',
						type: 'POST',
						success: function(data) {
							if (data.meta.success == true) {
								library_row.slideUp('200', function() {
									$(this).remove();
								});
								$.growlUI('Library Deleted', 'Your library was deleted successfully');
							} else if(data.meta.success == false) {
								$('#accept-overlay').find('h1.target').text('There Was An Error Deleteing The Library');
								$('#accept-overlay').find('p.target').text(data.meta.error);
								$.blockUI({ 
									fadeIn:  200,
									fadeOut: 200,
									css: { 
										border: 'none',
										opacity: 1,
										'-webkit-border-radius': '10px',
										'-moz-border-radius': '10px',
										backgroundColor: 'none'
							        },
						        	message: $('#accept-overlay')
						        });
							}
						},
						error: function() {
							$('#accept-overlay').find('h1.target').text('Something Went Wrong!');
							$('#accept-overlay').find('p.target').text('This is completely our fault, something has gone wrong on our end. We are probably trying to fix it, so try again in a few seconds.');
							$.blockUI({ 
								fadeIn:  200,
								fadeOut: 200,
								css: { 
									border: 'none',
									opacity: 1,
									'-webkit-border-radius': '10px',
									'-moz-border-radius': '10px',
									backgroundColor: 'none'
						        },
					        	message: $('#accept-overlay')
					        });
						}
					});
				});
				
			}
		}
		
		$("ul#library-list li").append('<button class="delete">delete</span>');
		
		$("ul#library-list li").hover(library_hover_over, library_hover_out);
		
		$("ul#library-list li button.delete").click(library_click_delete);
		
		// Add New Library
		
		$("form#new-library-form").submit(function() {
			
			var form = $(this);
			
			var formData = form.serialize();
			
			form.block({ 
				fadeIn: 10,
				fadeOut: 10,
				css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        }, 
		        message: 'Adding Library' 
		    });
			
			$.post('{% url api_save_collection %}', formData, function(data) {
				if (data.meta.success == true) {
					var name = data.collection.name;
					var truncateLength = 40;
					
					if (name.length > truncateLength) {
						name = name.substring(0, truncateLength) + '...';
					}
					
					String.prototype.capitalise = function() {
						return this.replace( /(^|\s)([a-z])/g , function(m,p1,p2){ return p1+p2.toUpperCase(); } );
					};
					
					name = name.capitalise();
					
					var description = data.collection.description;
					var url = data.collection.url;
					var pk = data.collection.pk;
					
					var listItem = '<li id="' + pk + '" style="display: none">' +
					'<img src="/media/images/events/home.png" width="16" height="16" title="Library" />' +
					'<a class="item-title img-title" href="' + url + '">' + name + ' →</a>' +
					'<p class="item-subtitle">0 bookshelves, 0 unsorted books</p>' +
					'<button class="delete">delete</button>' +
					'</li>';
					
					$("ul#library-list").append(listItem);
					$("li#" + pk).slideDown('200');
					
					$("#" + pk).hover(library_hover_over, library_hover_out);
					$("#" + pk + " button.delete").click(library_click_delete);
					
					$.growlUI('Library Added', 'Your new library was added successfully');
					
					form.unblock();
					
				} else if(data.meta.success == false) {
					form.unblock();
			        
			        $('#overlay-ok').find('p.target').text(data.meta.error);
					$.blockUI({ 
						fadeIn:  100,
						fadeOut: 100,
						css: { 
							border: 'none',
							opacity: 1,
							'-webkit-border-radius': '10px',
							'-moz-border-radius': '10px',
							backgroundColor: 'none'
				        },
			        	message: $('#overlay-delete-error')
			        });
				}
			}, "json");
			
			form.find(':input[name="name"]').val('');
			
			return false;
		});
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h2>Your Library List</h2>
			<p>The following are your libraries.</p>
		</div>
	</div>
	<div class="section">
		<div class="inner">
			<div class="container clearfix">
				<div class="two-thirds alpha">
					<div class="rounded-wrapper">
						<h3>Your Libraries</h3>
						<ul id="library-list" class="double-title item-list">
							{% for library in object_list %}
								<li id="{{ library.pk }}">
									<img src="/media/images/events/home.png" width="16" height="16" title="Library" />
									<a class="item-title img-title" href="{{ library.get_absolute_url }}">{{ library.name|title|truncatechars:40 }} →</a>
									<p class="item-subtitle">{{ library.children.all|length }} bookshel{{ library.children.all|length|pluralize:'f,ves' }}, {{ library.books.all|length }} unsorted book{{ library.books.all|length|pluralize }}</p>
								</li>
							{% endfor %}
						</ul>
						<h3>Add a New Library</h3>
						<form id="new-library-form" action="" method="post">
							<input type="hidden" name="collection_type" value="library" />
							{{ form.name }}
							<input type="submit" value="Create" />
						</form>
					</div>
					{% if object_list %}
					{% else %}
					<p class="empty-list-text center">Ah Hello, Pick a name for your new library to get started.</p>
					{% endif %}
				</div>
				<div class="third">
					<h3>Overview</h3>
					<p>A library represents a large collection of different books, for example you may have a "Home" library and an "Office" library.</p>
					
					<h3>Deleting</h3>
					<p>You may delete any empty libraries you create, here in the library list. If you have added anything to the library, you shall be asked what you want to do with the contents: delete it or move it.</p>
					
					<h3>Editing</h3>
					<p>To add a description to your libraries, select the library you wish to edit from the list to the left.</p>
					
					<h3>Adding</h3>
					<p>Creating a new library is as easy as choosing its name, and filling in the form below. All library names must be different.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="accept-overlay" class="overlay">
		<div class="overlay-header">
			<h1 class="target"></h1>
		</div>
		<div class="overlay-body">
			<p class="target"></p>
		</div>
		<div class="overlay-footer clearfix">
			<input type="button" class="overlay-ok overlay-button" value="Alright" /> 
		</div>
	</div> 
{% endblock %}