{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends "libraries/profile.html" %}

{% block title %}
Edit Details | {{ block.super }}
{% endblock %}

{% block page_title %}libraries-profile{% endblock %}

{% load truncate_filters %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url edit_profile %}">Edit Details</a></li>
{% endblock %}

{% block content %}

<div class="section">
	<div class="inner">
		<h1>Edit your details</h1>
		<p>Make your changes adn then go back</p>
		
		<form action="" method="post" class="normal clearfix">
			
			<div class="field clearfix">
				{{ form.first_name.label_tag }}
				{{ form.first_name }}
			</div>
			
			<div class="field clearfix">
				{{ form.last_name.label_tag }}
				{{ form.last_name }}
			</div>
			
			<div class="field clearfix">
				{{ form.email.label_tag }}
				{{ form.email }}
			</div>
			
			<div class="footer clearfix">
				<input type="submit" value="Update Details" /> or <a href="{% url profile %}">← go back to profile</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}