{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends "libraries/bookshelf_detail.html" %}

{% block page_title %}user-book-detail{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if bookshelf %}
		<li id="bc-users-book-detail"><a href="{% url profile_detail library.slug bookshelf.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% else %}
		<li id="bc-users-book-detail"><a href="{% url profile_detail library.slug unsorted_bin.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% endif %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="/media/js/jquery.page-realtime-twitter-reactions.js"></script>
<script type="text/javascript">
	$(function() {
		
		$("a.zoom").fancyZoom({directory: '/media/images/fancyzoom', scaleImg: true, closeOnClick: true});
		
		$("#realtime-twitter-updates").getPageRealtimeReactions({
			query: "{{ book.author }}",
			numTweets: 5,
			loaderText: "Loading ...",
			slideIn: false,
			showHeading: false
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner clearfix">
		{% if book %}
			<h2>{{ book.title }}</h2>
			<div class="container clearfix">
				<div class="two-thirds alpha">
					<p>{{ book.description }}</p>
					<p><strong>{{ book.author }}</strong> ({{ book.publisher }}, {{ book.published|date:"Y" }})</p>
					<h3>Tweets About The Author</h3>
					<div id="realtime-twitter-updates"></div>
					<div>
						<h3>Tags</h3>
						<p class="tag-list center">
						{% for tag in book.book_instance.tags %}
							<a href="">{{ tag.name }}</a>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="third omega">
					<div class="rounded-wrapper">
						<h3>Frontcover</h3>
						<div class="image-wrapper">
							<a href="#large-cover-image" class="zoom img-link">
								<img style="margin:0 auto; display:block:" src="{{ book.book_instance.thumbnail_large }}" />
							</a>
						</div>
						<h3>Editions Of This Book</h3>
						<ul class="item-list double-title">
						{% for edition in book.book_instance.edition_group.editions.all %}
							<li id="{{ edition.pk }}" {% ifequal edition.pk book.book_instance.pk %}class="this"{% endifequal %}>
								<a class="item-title" href="{{ edition.get_absolute_url }}">{{ edition.published|date:"Y"|default:'0000' }} →</a>
								<p class="item-subtitle">{{ edition.publisher }} (ISBN: {{ edition.isbn }})</p>
							</li>
						{% endfor %}
						</ul>
						<h3>Detailed Information</h3>
						<table>
							<tbody>
								<tr>
									<td>ISBN10</td>
									<td>{{ book.book_instance.isbn10 }}</td>
								</tr>
								<tr>
									<td>ISBN13</td>
									<td>{{ book.book_instance.isbn13 }}</td>
								</tr>
								<tr>
									<td>Pages</td>
									<td>{{ book.book_instance.pages|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Publisher</td>
									<td>{{ book.book_instance.publisher|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Published</td>
									<td>{{ book.book_instance.published|date:'Y'|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Format</td>
									<td>{{ book.book_instance.format|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Language</td>
									<td>{{ book.book_instance.language|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Width</td>
									<td>{{ book.book_instance.width|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Height</td>
									<td>{{ book.book_instance.height|default:'unknown' }}</td>
								</tr>
								<tr>
									<td>Depth</td>
									<td>{{ book.book_instance.depth|default:'unknown' }}</td>
								</tr>
							</tbody>
						</table>
						
						<h3>Meta Information</h3>
						<table>
							<tbody>
								<tr>
									<td>Copies</td>
									<td>{{ book.book_instance.instances.all|length }}</td>
								</tr>
								<tr>
									<td>Added</td>
									<td>{{ book.added|date|default:'unknown' }}</td>
								</tr>
								<tr>
									<td colspan="2" style="font-size:0.8em; text-align:center;">{{ book.pk }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% else %}
			<h2>Whoops!</h2>
			<p>You dont have that book in this library.</p>
		{% endif %}
	</div>
</div>

<div id="large-cover-image">
	<img src="{{ book.book_instance.thumbnail_huge }}" alt="Huge cover image" />
</div>
{% endblock %}