{##																#}
{## Developed for the University of Nottingham G52GRP module 	#}
{##																#}
{## Written by:	Marcus Whybrow (mxw18u) 						#}
{## Group: 		gp09-drm 										#}
{##																#}

{% extends "books/base.html" %}

{% if is_logged_in %}

{% block content %}
	{% if user.is_authenticated %}
		<h2>Add a new Book</h2>
		<form action="handler/" method="post">
			{{ form.as_p }}
			<input type="submit" value="Add Book" />
		</form>
	{% else %}
		<h2>Log in to add a Book</h2>
	{% endif %}
{% endblock %}

{% else %}

<p>to add a book please log in first</p>

{% endif %}
