{% extends "books/base.html" %}

{% block title %}
Books Statistics | {{ block.super }}
{% endblock %}

{% load voting_tags %}
{% votes_by_user user on books as vote_dict %}
{% scores_for_objects books as score_dict %}

{% block page_title %}books-book-list{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li id="bc-books-book-list"><a href="{% url books.views.book_list %}">Books</a></li>
{% endblock %}

{% block head %}
<script type="text/javascript">
	$(function(){
		$("form.book-vote").submit(function() {			
			var vote = 'clearvote';
			if ($(this).is('.vote-up')) {
				vote = 'upvote';
			} else if($(this).is('.vote-down')) {
				vote = 'downvote';
			}
			
			$.post('/books/' + $(this).parent().attr('id') +'/' + vote + '/', {}, function(data) {
				alert('Score: ' + data.score.score + ' Num: ' + data.score.num_votes);
			}, 'json');
			return false;
		});
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			{% for score in score_dict %}
				{{ score.score }}
			{% endfor %}
			<h2>Books</h2>
			<p>All books in the system.</p>
			<ul class="item-list">
				{% for book in books %}
					{% dict_entry_for_item book from vote_dict as vote %}
					{% dict_entry_for_item book from score_dict as score %}
					<li id="{{ book.pk }}">
						<a class="item-title" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
						<span class="item-children-count">{{ book.added|date }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
