{% extends "books/base_full.html" %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h2>{{ library.name }}</h2>
			<p>{{ library.description }}</p>
			{% if library.children.all %}
			<ul>
				{% for bookshelf in library.children.all %}
					<li><a href="{{ bookshelf.get_absolute_url }}">{{ bookshelf.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p class="error">So there are no bookshelves in this library yet, you should be ashamed of yourself!</p>
			{% endif %}
		</div>
	</div>
{% endblock %}