{% extends "users/bookshelf_detail.html" %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if bookshelf %}
		<li> > <a href="{% url book_detail user_detail.username library.slug bookshelf.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% else %}
		<li> > <a href="{% url book_detail user_detail.username library.slug unsorted_bin.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% endif %}
{% endblock %}

{% block sidebar %}
<div id="overview" class="clearfix">
	<div id="thumb">
		<img src="/media/images/book-thumb.jpg" />
	</div><!-- / #thumb -->
	<div id="meta">
		<div id="ratings">
			<img src="/media/images/ratings-5stars.png" />
		</div><!-- / #ratings -->
		<div id="tags">
			<ul>
				<li>Autobile driving</li>
				<li>Automobiles</li>
				<li>English wit and humor</li>
				<li>Humor / General</li>
				<li class="more">more tags</li>
			</ul>
		</div><!-- / #tags -->
	</div><!-- / #meta -->
</div><!-- / #overview -->
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner">
		{% if book %}
			<h2>{{ book.title }}</h2>
			<p>ISBN: {{ book.isbn }}</p>
			<p>Author: {{ book.author }}</p>
			<p>Publisher: {{ book.publisher }}</p>
			<p>Published Date: {{ book.published }}</p>
			<p>Description: {{ book.description }}</p>
		{% else %}
			<h2>Whoops!</h2>
			<p>You dont have that book in this library.</p>
		{% endif %}
	</div>
</div>
{% endblock %}