{% extends "libraries/bookshelf_detail.html" %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if bookshelf %}
		<li> > <a href="{% url profile_detail library.slug bookshelf.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% else %}
		<li> > <a href="{% url profile_detail library.slug unsorted_bin.slug book.isbn book.slug %}">{{ book.title }}</a></li>
	{% endif %}
{% endblock %}

{% block sidebar %}
<div id="overview" class="clearfix">
	<div id="thumb">
		<img src="/media/images/book-thumb.jpg" />
	</div><!-- / #thumb -->
	<div id="meta">
		<div id="ratings">
			<img src="/media/images/ratings-5stars.png" />
		</div><!-- / #ratings -->
		<div id="tags">
			<ul>
				<li>Autobile driving</li>
				<li>Automobiles</li>
				<li>English wit and humor</li>
				<li>Humor / General</li>
				<li class="more">more tags</li>
			</ul>
		</div><!-- / #tags -->
	</div><!-- / #meta -->
</div><!-- / #overview -->
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner">
		{% if book %}
			<h2>{{ book.title }}</h2>
			<table class="book-details">
				<tr>
					<td>ISBN</td>
					<td><p>{{ book.isbn }}</p></td>
				</tr>
				<tr>
					<td>Pages</td>
					<td><p>{{ book.pages }}</p></td>
				</tr>
				<tr>
					<td>Dimensions</td>
					<td><p>{{ book.width }}cm x {{ book.height }}cm x {{ book.depth }}cm</p></td>
				</tr>
				<tr>
					<td>Language</td>
					<td><p>{{ book.language }}</p></td>
				</tr>
				<tr>
					<td>Author</td>
					<td><p>{{ book.author }}</p></td>
				</tr>
				<tr>
					<td>Publisher</td>
					<td><p>{{ book.publisher }}</p></td>
				</tr>
				<tr>
					<td>Published</td>
					<td><p>{{ book.published }}</p></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><p>{{ book.description }}</p></td>
				</tr>
			</table>
		{% else %}
			<h2>Whoops!</h2>
			<p>You dont have that book in this library.</p>
		{% endif %}
	</div>
</div>
{% endblock %}