{% extends "users/user_detail.html" %}

{% block breadcrumbs %}
{{ block.super }}
<li> > <a href="{% url library_list user_detail.username %}">Libraries</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jqtransform/jquery.jqtransform.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8rc1.custom.min.js"></script>
<script type="text/javascript">
	$(function() {
		//find all the forms with the class of jqtransform and then apply the plugin
		$("form.jqtransform").jqTransform();
		
		function library_hover_over() {
			$(this).find('span.delete').css('display', 'inline');
		}
		
		function library_hover_out() {
			$(this).find('span.delete').css('display', 'none');
		}
		
		function library_click_delete() {
			var library_row = $(this).parent();
			var library_pk = library_row.attr("id");
			
			var delete_library_dialog = $("div#library-delete").dialog({
				bgiframe: true,
				resizable: false,
				modal: true,
				overlay: {
					backgroundColor: '#000',
					opacity: 0.5
				},
				buttons: {
					'Delete': function() {
						$.get('{% url api_delete_library %}', {library_pk: library_pk}, function(data) {
							if (data.meta.success == true) {
								delete_library_dialog.dialog('close');
								library_row.remove();
							} else if(data.meta.success == false) {
								delete_library_dialog.dialog('close');
								
								$("div#library-delete-error p.error-message").append(data.meta.error);
								$("div#library-delete-error").dialog({
									bgiframe: true,
									resizable: false,
									modal: true,
									overlay: {
										backgroundColor: '#000',
										opacity: 0.5
									},
									buttons: {
										Ok: function() {
											$(this).dialog('close');
										}
									}
								})
							}
						}, "json");
					},
					Cancel: function() {
						$(this).dialog('close');
					}
				}
			})
		}
		
		$("form#new-library-form").submit(function() {
			
			var form = $(this);
			
			form.find().attr('disabled', 'disabled');
			
			$.post('{% url api_insert_library %}', form.serialize(), function(data) {
				if (data.meta.success == true) {
					var name = data.library.name;
					var description = data.library.description;
					var url = data.library.url;
					var pk = data.library.pk;
					$("ul#library-list").append('<li id="' + pk + '"><a href="' + url + '">' + name + '</a><span class="delete">delete</span></li>');
					
					$("#" + pk).hover(library_hover_over, library_hover_out);
					$("#" + pk + " span.delete").click(library_click_delete);
					
				} else if(data.meta.success == false) {
					alert(data.meta.error);
				}
			}, "json");
			
			form.find().attr('disabled', '');
			form.find(':input').val('');
			
			return false;
		});
		
		$("ul#library-list li").append('<span class="delete">delete</span>');
		
		$("ul#library-list li").hover(library_hover_over, library_hover_out);
		
		$("ul#library-list li span.delete").click(library_click_delete);
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h2>Your Libraries</h2>
			<p>Your libraries will all be here one day.</p>
			{% if object_list %}
			<ul id="library-list">
				{% for library in object_list %}
					<li id="{{ library.pk }}"><a href="{{ library.get_absolute_url }}">{{ library.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p class="error">Erm. You do realise you dont have any libraries yet.</p>
			{% endif %}
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<h3>Create a new <span class="library">Library</span></h3>
			<p>Pick a name for your new library, make sure its not the same as another one and hit create.</p>
			<form id="new-library-form" action="" method="post" class="jqtransform">
				<div class="rowElem">
					{{ form.name }}
				</div>
				<div class="rowElem">
					<input type="submit" value="Create" />
				</div>
			</form>
			<h3>Add a <span class="book">Book</span> to this Library</h3>
			<p>Click <a href="#">here</a></p>
		</div>
	</div>
	
	<div id="library-delete" class="dialog" title="Delete this Library?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 7px 0;"></span>This library will be permanently deleted. Are you sure?</p>
	</div>
	
	<div id="library-delete-error" class="dialog" title="Problem deleting Library!">
		<p class="error-message"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 7px 0;"></span></p>
	</div>
{% endblock %}