{% extends "users/library_list.html" %}

{% block breadcrumbs %}
{{ block.super }}
<li class="library"> > <a href="{% url library_detail user_detail.username, library.get_slug %}">{{ library.name }}</a></li>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/js/jqtransform/jqtransform.css" />
<script type="text/javascript" src="/media/js/jqtransform/jquery.jqtransform.js"></script>
<script type="text/javascript">
	$(function() {
		//find all the forms with the class of jqtransform and then apply the plugin
		$("form.jqtransform").jqTransform();
	});
</script>
{% endblock %}

{% block content %}
	<div class="section">
		<div class="inner">
			<h2>{{ library.name }}</h2>
			<p>{{ library.description }}</p>
			<ul>
				<li><a href="{{ library.get_absolute_url }}{{ unsorted_bin.slug }}/">{{ unsorted_bin.slug }}</a></li>
				{% for bookshelf in library.children.all %}
					<li><a href="{{ bookshelf.get_absolute_url }}">{{ bookshelf.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="section">
		<div class="inner">
			<h3>Create a new <span class="bookshelf">Bookshelf</span></h3>
			<form class="jqtransform">
				<div class="rowElem">
					<input type="text" />
				</div>
				<div class="rowElem">
					<input type="submit" value="Create" />
				</div>
			</form>
			
			<h3>Add a <span class="book">Book</span> to this Bookshelf</h3>
			<p>Click <a href="#">here</a></p>
		</div>
	</div>
{% endblock %}