{% extends "users/user_list.html" %}

{% block page_title %}users-user-detail{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li id="bc-users-user-detail"><a href="{% url users.views.user_detail user_detail.username %}">{{ user_detail.get_full_name|default:user_detail.username }}</a></li>
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner">
		<h2>{{ user_detail.get_full_name|default:user_detail.username }}</h2>
		<p>{{ user_detail.get_full_name }}</p>
	</div>
</div>
{% endblock %}