{% extends "users/base.html" %}

{% block title %}
Users | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url users.views.user_list %}">Users</a></li>
{% endblock %}

{% load gravatar %}
{% load truncate_filters %}

{% block content %}
<div class="section">
	<div class="inner">
		<h2>Users</h2>
		<p>Listed below will be all the users in the system, with some search features :).</p>
	</div>
</div>

<div class="section">
	<div class="inner">
		<div class="container clearfix">
			<div class="third alpha">
				<div class="rounded-wrapper">
					{% if users %}
					<ul id="users-list" class="item-list double-title">
						{% for user in users %}
							<li>
								{% gravatar user 16 %}
								<a class="item-title img-title" href="{{ user.get_absolute_url }}">{{ user.username|truncatechars:40 }}</a>
								<p class="item-subtitle">Joined {{ user.date_joined|date }}</p>
							</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="thrid">
			
			</div>
			<div class="third omega">
			
			</div>
		</div>
	</div>
</div>
{% endblock %}