{% extends "users/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url users.views.user_list %}">Users</a></li>
{% endblock %}

{% block content %}
<div class="section">
	<div class="inner">
		<h2>Users</h2>
		<p>Listed below will be all the users in the system, with some search features :).</p>
	</div>
</div>

<div class="section">
	<div class="inner">
		{% if users %}
		<ul id="users-list">
			{% for user in users %}
				<li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}